/* 애니메이션 */
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear_from_bottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text1 {
  display: none;
  animation: appear_from_bottom ease 1.5s;
}

.text2 {
  display: none;
  animation: appear;
}
