@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #f2f2f2;
  --ourTheme: #0064ff;
  --ourBlue: #4893ff;
  --ourPurple: #cab8ff;
  --ourPink: #f0a8ea;
  --ourRed: #ff8a8c;
  --ourYellow: #ffc28a;
  --ourGreen: #51d0a2;
  --ourLightGray: #f2f2f2;
  --ourGray: #d9d9d9;
  --ourDarkGray: #737373;
  --ourBlack: #202632;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ansungtangmyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Batang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply font-Pretendard;
  }
  html,
  body {
    background-color: var(--main-bg-color);
  }
}

::-webkit-scrollbar {
  width: 15px;
  background-color: white;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--ourGray);
  border-radius: 0.375rem;
  transition-duration: 1s;
}
