:root {
  --ourTheme: #0064ff;
  --ourBlue: #4893ff;
  --ourPurple: #cab8ff;
  --ourPink: #f0a8ea;
  --ourRed: #ff8a8c;
  --ourYellow: #ffc28a;
  --ourGreen: #51d0a2;
  --ourLightGray: #f2f2f2;
  --ourGray: #d9d9d9;
  --ourDarkGray: #737373;
  --ourBlack: #202632;
}

.react-calendar {
  max-width: 350px;
  border: 0px;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  color: var(--ourGray);
}

/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
} */

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-weight: bold;
  abbr {
    text-decoration: none;
  }
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 0.5em;
}

.react-calendar__tile {
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ourDarkGray);
  padding: 10px;
  abbr {
    text-align: center;
    line-height: 30px;
    width: 100%;
    height: 100%;
  }
}

.react-calendar__tile:disabled {
  color: var(--ourGray);
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: var(--ourPink);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  abbr {
    transition-duration: 0.2s;
    transition-property: background-color;
    background: var(--ourGray);
    border-radius: 9999px;
  }
}

.react-calendar__tile--now {
  abbr {
    background: var(--ourGreen) !important;
    opacity: 1 !important;
    color: white;
    border-radius: 9999px;
  }
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  abbr {
    background: var(--ourGreen);
    color: white;
    border-radius: 9999px;
  }
}

/* .react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
} */

.react-calendar__tile--active {
  abbr {
    background: var(--ourBlack) !important;
    opacity: 1 !important;
    color: white;
    border-radius: 9999px;
  }
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  abbr {
    background: var(--ourBlack) !important;
    color: white;
    border-radius: 9999px;
  }
}

/* .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
} */

.react-calendar__tile--one-solved:enabled {
  abbr {
    background: var(--ourBlue);
    opacity: 0.2;
    color: white;
    border-radius: 9999px;
  }
}

.react-calendar__tile--one-solved:enabled:hover,
.react-calendar__tile--one-solved:enabled:focus {
  abbr {
    background: var(--ourBlue);
    color: white;
    border-radius: 9999px;
  }
}

.react-calendar__tile--two-solved:enabled {
  abbr {
    background: var(--ourBlue);
    opacity: 0.5;
    color: white;
    border-radius: 9999px;
  }
}

.react-calendar__tile--two-solved:enabled:hover,
.react-calendar__tile--two-solved:enabled:focus {
  abbr {
    background: var(--ourBlue);
    color: white;
    border-radius: 9999px;
  }
}

.react-calendar__tile--three-solved:enabled {
  abbr {
    background: var(--ourBlue);
    opacity: 1;
    color: white;
    border-radius: 9999px;
  }
}

.react-calendar__tile--three-solved:enabled:hover,
.react-calendar__tile--three-solved:enabled:focus {
  abbr {
    background: var(--ourBlue);
    color: white;
    border-radius: 9999px;
  }
}
